rvt-lockup_body {
    background-color: rgba(231, 9, 9, 0.993);
}

h1 {
    color: rgba(231, 9, 9, 0.993);
    font-weight: bold;
    font-size: 20px;
}

.select-title {
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 30px;
}

.rvt-header-id__log-out {
    text-align:right;
    /* padding-right:30px; */
    float: right;
    padding-bottom: 55px;
    
    
}

.dropdown {
    width:150px;
    align-items:center;
    text-align:center;
}

.radio {
    align-items:center;
    padding-bottom: 70px;
    text-align:center;
    font-size: 20px;
}
.checkbox {
    align-items:center;
    padding-bottom: 70px;
    text-align:center;
    font-size: 20px;
}
.rvt-container-lg {
    align-items:center;
    padding-bottom: 70px;
    text-align:center;
    font-size: 20px;
}